<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fit Bananas</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>
<body>
    @RenderBody()

    <footer class="row my-5 text-nowrap justify-content-center">
        <div class="col-auto p-3" id="footerBox">
            <div class="d-flex justify-content-center">
                <p>View our <a href="/privacy" class="col-auto text-decoration-none">Privacy Policy.</a>
            </div>
            <div class="d-flex justify-content-center">
                <a href="https://github.com/bpseitz/FitBananas">
                    <img class="img-fluid" src="/img/GitHub-Mark-32px.png" alt="Strava logo">
                </a>
            </div>
        </div>
    </footer>

    <script src="~/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
