<link rel="stylesheet" href="~/css/bananaStyle.css">
<nav class="navbar navbar-expand-md navbar-light bg-warning">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/home">Fit Bananas</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/signout">Sign Out</a>
                </li>
            </ul>
            <div class="navbar-nav">
                <a href="https://www.strava.com">
                    <img src="/img/api_logo_pwrdBy_strava_horiz_white.svg" height="40" class="d-inline-block align-top">
                </a>
            </div>
        </div>
    </div>
</nav>
@model SettingsViewModel
<main class="container">
    <div class="row justify-content-center">
        <h2 class="m-5 text-center">Settings</h2>
    </div>
    <form action="/units/select" method="post" class="rom justify-content/-center mb-3" id="unit-form">
        <div class="row justify-content-center mb-3">
            @if (Model.currentAthlete.MetricUnits)
            {

                <div class="btn-group col-auto" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="units" id="miles" value="imperial" autocomplete="off">
                    <label class="btn btn-outline-warning" for="miles">Miles</label>

                    <input type="radio" class="btn-check" name="units" id="kilometers" value="metric" autocomplete="off"
                        checked>
                    <label class="btn btn-outline-warning" for="kilometers">Kilometers</label>
                </div>
            }
            else
            {
                <div class="btn-group col-auto" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="units" id="miles" value="imperial" autocomplete="off" checked>
                    <label class="btn btn-outline-warning" for="miles">Miles</label>

                    <input type="radio" class="btn-check" name="units" id="kilometers" value="metric" autocomplete="off"
                        >
                    <label class="btn btn-outline-warning" for="kilometers">Kilometers</label>
                </div>
            }
        </div>
    </form>
    <!--check if any challenges in the list-->
    <form action="/challenge/remove" method="post">
        <div class="row justify-content-center mb-3">
            <div class="col-auto">
                <select name="challengeId" id="" class="form-select">
                    <option value="" selected disabled hidden>Remove Challenge:</option>
                    @foreach(AthleteChallenge challenge in Model.currentAthlete.Challenges)
                    {
                        <option value="@challenge.ThisChallenge.ChallengeId">@challenge.ThisChallenge.Title</option>
                    }
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-warning">Remove</button>
            </div>
        </div>
    </form>
    <form action="">
        <div class="row justify-content-center m-5">
            <div class="col-auto">
                <button type="submit" class="btn btn-dark text-danger">Purge Account Data</button>
            </div>
        </div>
    </form>
</main>
<script src="~/js/settings.js"></script>