

<nav class="navbar navbar-expand-md navbar-light bg-warning">
    <div class="container">
        <a class="navbar-brand" href="#">Fit Bananas</a>
    </div>
    <div class="navbar-nav">
        <a href="https://www.strava.com">
            <img src="/img/api_logo_pwrdBy_strava_horiz_white.svg" height="40" class="d-inline-block align-top">
        </a>
    </div>
</nav>
<!-- Link to OAuth page-->

<main class="container">
    <p class="display-5 text-center my-5">Log in with Strava to start a challenge!</p>
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="/strava/auth">
                <img src="/img/btn_strava_connectwith_orange.png" />
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto p-5">
            <h2 class="my-3 display-6">2021 Challenges</h2>

            <div>
                <p>Participants: 52</p>
                <p>Goals set: 70</p>
            </div>
            <div>
                <p>Distance pledged: 3500 miles</p>
                <p>Avg distance pledged: 50 miles</p>
            </div>
            <div>
                <p>Elevation gained pledged: 650,000</p>
                <p>Avg Elevation gain pledged: 9286</p>
            </div>
        </div>
    </div>
</main>